@font-face {
    font-family: "Qomolangma-Subtitle";
    src: url("./Mat.ttf") format(truetype);
    /* // src: url("./assets/font/Qomolangma-Subtitle.ttf") format(truetype); */
}

@font-face {
    font-family: "FZLTTHJW";
    src: url("./FZLTTHJW.ttf") format(truetype);
}

@font-face {
    font-family: "FZLTTHJWBOLD";
    src: url("./FZLTTHJWbold.ttf") format(truetype);
}

.Qomolangma {
    font-family: "Qomolangma-Subtitle";
}

.FZLTTHJW {
    font-family: "FZLTTHJW";
}

.FZLTTHJWBOLD {
    font-family: "FZLTTHJWBOLD";
}